# Arquivos de log e cache
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
.env
venv/
.venv/
*.egg-info/
.pytest_cache/
.tox/

# IDEs
.idea/
.vscode/
*.swp

# macOS
.DS_Store

# Dados temporários ou confidenciais
data/
*.db
*.sqlite3
*.csv
*.json
*.pkl
*.ipynb_checkpoints/
